body {
    font-family: Arial, sans-serif;
}

h1 {
    color: greenyellow;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    font-weight: bold;
}

img {
    width: 100px;
    height: auto;
}
